/** RESET */
* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-family: var(--font-regular);
    font-weight: 400;
    color: var(--blue-3);
}

h1,
h2,
h3,
a,
p,
input,
label {
	margin: 0;
    color: var(--blue-3);
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

img {
	display: block;
	max-width: 100%;
}

a {
	font-size: 1rem;
	text-decoration: none;
}